<!-- Typography(deals with the style and appearance of text on your website-->

<!-- to create a huge headers in the web page - material display classes -->

<!-- <div class="mat-display-4">This is dispaly 4</div>
<div class="mat-display-3">This is dispaly 3</div>
<div class="mat-display-2">This is dispaly 2</div>
<div class="mat-display-1">This is dispaly 1</div> -->

<!-- Classes correspond to h1, h2, h3, h4-->

<!-- <div class="mat-headline">This is heading for h1</div>
<div class="mat-title">This is heading for h2</div>
<div class="mat-subheading-2">This is heading for h3</div>
<div class="mat-subheading-1">This is heading for h4</div> -->

<!-- Body text and caption-->

<!-- <div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div> -->

<!-- Typography class-->

<!-- <div class="mat-typography">
  <h1>This is heading for h1</h1>
  <h2>This is heading for h2</h2>
  <h3>This is heading for h3</h3>
  <h4>This is heading for h4</h4>
</div> -->


<!-- Button -->
<h4>button </h4>
<div>
  <button mat-button>click me!</button>
  <button mat-raised-button>click me!</button>
  <button mat-flat-button>click me!</button>
  <button mat-stroked-button>click me!</button>
</div>

<!-- Circuler Button-->
<h4>Circuler Button</h4>
<div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>fab</button>
  <button mat-mini-fab>Minifab</button>
</div>

<!-- color in button -->
<h4>color in button</h4>
  <div>
    <button color="primary" mat-button>Primary!</button>
    <button color="accent" mat-button>Accent!</button>
    <button color="warn" mat-button>Warn!</button>
    <button color="primary" mat-raised-button>Primary!</button>
    <button color="accent" mat-raised-button>Accent!</button>
    <button color="warn" mat-raised-button>Warn!</button>

    <!-- Disable ripple-->
    <button color="accent" disableRipple mat-raised-button>Accent!</button>
  </div>

  <!-- Button Toggle -->
  <h4>button toggle</h4>
  <!-- false by default  add checked att for true-->
  <div>
    <mat-button-toggle #toggleBtn checked disableRippless>Toggle</mat-button-toggle>
    {{toggleBtn.checked}}
  </div>

  <!-- Application of button toggle-->
  <h4>Application of button toggle(behave like a radio button) and for checkbox type add multiple attribute</h4>
  <div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="anguler">Angular</mat-button-toggle>
    <mat-button-toggle value='react'>React</mat-button-toggle>
    <mat-button-toggle value='vue'>Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggleGroup.value}}
  </div>

  <!-- Icons -->
  <h4>Icons</h4>
  <div>
    <mat-icon color="primary">get_app</mat-icon>
    <mat-icon >grade</mat-icon>
  </div>

  <!-- Badges (small status descriptors for UI elemnts)-->
  <h4>Material Badge</h4>
  <div>
    <span matBadge='5'>Notification</span>
  </div>

  <!-- We can control position of the notification-->
  <div>
    <span matBadge='5' matBadgePosition='below and before'>Notification</span>
  </div>

  <div>
    <span matBadge='5' matBadgePosition='below and after'>Notification</span>
  </div>

  <div>
    <span matBadge='5' matBadgePosition='above and before'>Notification</span>
  </div>

  <!-- we can control the size of baze (small, medium, large) and medium is default-->
<div>
  <span matBadge='5' matBadgeSize='small'>Notification</span>
</div>
<div>
  <span matBadge='5' matBadgeSize='medium'>Notification</span>
</div>
<div>
  <span matBadge='5' matBadgeSize='large'>Notification</span>
</div> 

<!-- we can control the color of badge (primary, accent, warn) and primary is default-->
<div>
  <span matBadge='5' matBadgeColor='primary'>Notification</span>
</div>
<div>
  <span matBadge='5' matBadgeColor='accent'>Notification</span>
</div>
<div>
  <!-- control overlapping-->
  <span matBadge='5' matBadgeColor='warn' matBadgeOverlap='false'>Notification</span>
</div>

<!-- Binding values and also conditional rendering ( generally value stored in class property) -->
<div>
  <span [matBadge]='notifications'>Notification</span>
</div>

<!-- Hiden badge (when notification is zero) -->
<div>
  <span [matBadge]='notifications' [matBadgeHidden]="notifications == 0">Notification</span>
</div>

<!-- Progress Spinner-->
<h4>Progress Spinner</h4>
<mat-progress-spinner value='80'></mat-progress-spinner>

<mat-spinner></mat-spinner>

<mat-spinner *ngIf="showSpinner">
</mat-spinner>
<button (click)="loadData()">Load data</button>

<!-- NavBar (tool bar)-->
<h4> NavBar</h4>
<mat-toolbar color="primary" class="navbar">
  <div>Pratik</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar>